/* 
general 
-------
*/
* {
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font: 15px/1.4 ;
  color: #333;
}

#app {
  padding: 40px ;
}
.container {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 15px;
  }

h2 {
  font-size: 22px;
}
/* 
task 
----
*/
.todoListContainer {
  background: rgb(250, 245, 245);
  border-radius: 25px;
  padding: 30px;
  box-shadow: 10px 10px 50px 10px rgba(0,0,0,0.1);
}

#title {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  position: relative;
  margin: 0 0 30px;
}

input[type="text"] {
  width: 100%;
  height: 40px;
  font: 15px/1.4 "Poppins", sans-serif;
  padding: 15px;
  background: #f3f3f3;
  color: #333;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s linear;  
  margin-right: 10px; 
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid #4ec5c1;
}
.plus {
  background: none;
  border: none;
  position: absolute;
  top: 20px;;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer
  
}
.proirity{
  color:#807e7e;
  padding-top: 15px;
}
.searchbar{
  position: relative;
}
.search {
  background: none;
  color: #999999;  
  border: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer
  
}

.trashcan{
  background: #e6e6e6;
  color: #E93C3C;
  border: none;
  outline: none;
  cursor: pointer;
  padding-right: 10px;
}

/* 
task items
----------
*/
.taskItems {
  margin-top: 25px;
}

.item{
  background: #e6e6e6;
  padding: 7px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  font: 15px/1.4 "Poppins", sans-serif;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.3s linear;
  border-left: 5px solid rgb(255, 105, 18);
}

.completed{
  text-decoration: line-through;
  color: rgb(44, 141, 81);
}
.itemText{
  width: 100%;
  margin-left:3px ;
}
.clearBtns {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px 15px;
}

.clearBtns button {
  width: 50%;
  background: #4ec5c1;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0 5px;
}

.clearBtns button:hover {
  background: #333;
}